<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>ATLANTIQUE PAVAGE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/social-icons.css">
        <link rel="stylesheet" href="assets/css/video-style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="logo span4">
                    <h2>ATLANTIQUE PAVAGE</h2>
                </div>
                <div class="tel-skype span8">
                    <p><i class="icon-phone-sign"></i> Téléphone : <span class="tel">05 56 81 40 33</span> <span class="pipe">|</span> <i class="icon-user"></i> Contact: <a href="mailto:atlantiquepavage@wanadoo.fr">atlantiquepavage@wanadoo.fr</a></p>
                </div>
            </div>
        </div>

        <!-- Product Showcase -->       
        <div class="product-showcase" style="position: relative; z-index: 0; background: none;">
            <div class="product-showcase-pattern">
                <div class="container">
                    <div class="row">
                        <div class="span12 product-background">
                            <div class="row">
                                <div class="span5 product-image">
                                    <img src="assets/img/ebook.png" alt="">
                                </div>
                                <div class="span7 product-title">
                                    <h1>The <strong>HTML5</strong> easy guide for beginners is now ready!</h1>
                                    <div class="product-description">
                                        <p>Our new ebook, <strong>"HTML5 Easy Guide for Beginners"</strong> is now ready. Enter your email in the form below and start learning right now.</p>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <form action="assets/subscribe.php" method="post" class="subscribe">
                                            <input type="text" name="email" class="email" placeholder="Enter your email">
                                            <button type="submit">Get it now!</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 634px; width: 1903px; z-index: -999998; position: absolute;"><img src="assets/img/backgrounds/1-.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1161.69645868465px; max-width: none; z-index: -999999; left: 0px; top: -263.848229342327px;"></div></div>

        <!-- Content -->
        <div class="container">

            <div class="row">
                <div class="span6">
                
                    <!-- about us -->
                    <div class="about-us">
                        <h3>A propos</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    
                </div>
                <div class="span6">
                    <!-- services -->
                    <div class="services">
                        <h3>Prestations</h3>
                        <div class="row single-feature">
                            <div class="span1 feature-icon">
                                <i class="icon-cloud"></i>
                            </div>
                            <div class="span5 feature-text">
                                <h4>Pavé</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="row single-feature">
                            <div class="span1 feature-icon">
                                <i class="icon-ok"></i>
                            </div>
                            <div class="span5 feature-text">
                                <h4>Revêtement béton</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <!-- 
                        <div class="row single-feature">
                            <div class="span1 feature-icon">
                                <i class="icon-pencil"></i>
                            </div>
                            <div class="span5 feature-text">
                                <h4>Beautiful & Modern Design</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="row single-feature">
                            <div class="span1 feature-icon">
                                <i class="icon-twitter"></i>
                            </div>
                            <div class="span5 feature-text">
                                <h4>Social Media Integration</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div> 
                        -->
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <!-- gallery -->
                <div class="span12 gallery">
                    <h3>Gallery</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    <div class="gallery-images">
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/1-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/1.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/2-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/2.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/3-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/3.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/4-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/4.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/1-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/1.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/2-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/2.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/3-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/3.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                        <div class="img-wrapper">
                            <a href="assets/img/gallery/4-big.jpg" rel="prettyPhoto[pp_gal]">
                                <img src="assets/img/gallery/4.jpg" alt="">
                                <span class="img-background"><i class="icon-plus"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            
                <!-- customers -->
                <div class="span12 customers">
                    <h3>Ils nous ont fait confiance</h3>
                    <div class="customers-container">
                        <a class="customers-google" href="#"></a>
                        <a class="customers-pinterest" href="#"></a>
                        <a class="customers-youtube" href="#"></a>
                        <a class="customers-google" href="#"></a>
                        <a class="customers-pinterest" href="#"></a>
                    </div>
                </div>
            </div> <!-- end row -->

        </div> <!-- end container -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span7 contact-us">
                        <h3>Nous contacter</h3>
                        <form action="assets/contact.php" method="post">
                            <input type="text" required="required" "name" class="name" placeholder="Nom*">
                            <input type="text" required="required" name="email" class="email" placeholder="Email*">
                            <input type="text" name="tel" placeholder="Téléphone">
                            <textarea required="required" name="message" placeholder="Ecrivez ici votre message*"></textarea>
                            <button type="submit">Envoyer</button>
                        </form>
                    </div>
                    <div class="span5 find-us">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11313.824557269474!2d-0.5917103281249947!3d44.8530080397424!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x519f6da8a4e755e0!2sAtlantique+Pavage!5e0!3m2!1sfr!2sfr!4v1423477031557" width="400" height="300" frameborder="0" style="border:0"></iframe>
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="span12 copyright">
                        <p>Copyright &copy; 2015<?php //echo date("Y"); ?> - ATLANTIQUE PAVAGE</p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>


        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/video-scripts.js"></script>

    </body>

</html>

